@media(min-width:468px) {
    .landscape-container {
        background-color: white;
        display: flex 1;
        
       }

    
    
    


        
    .areas-container {
        background-color: lightblue;
        display: flex;
        justify-content: space-between;

    }

  


}

.landscape-box-1 img {
     width: 100%;
   
}

.landscape-container div, .areas-container div {
  
    border: 1px #ccc solid;
    padding: 10px;
}

.music-box {
    flex: 1;
   
}

.graff-box {
    flex: 1;
   
}

.fashion-box {
    flex: 1;
    


}
.header-container{
    justify-content: space-between;
    display: flex ;
    background-color: red; 
    height: 100px;
  
}




.footer-container{
    
    background-color: aqua;
    height: 50px;

}

.logo-box {
    flex: 1;
    background-color: brown;
    

}


 

.title-box{
    flex: 3;
    background-color: rgb(158, 185, 243);
}

.body-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-container{
    flex: 1;
}


  
